.container {
    width: 1440px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;
}

.header {
    display: flex;
    padding-top: 49px;
    padding-bottom: 41px;
}

.link {
    color: black;
    margin: 15px;
}

.link:hover {
    color: #FA4A0C;
}

.fs-1 {
    color: aqua;
    margin-bottom: 0px;
}

.header-list {}

.hero {
    padding-top: 80px;
    padding-bottom: 162px;
    text-align: center;
    background-image: url(./imges/hero-bg.jpg);
}

.hero-heading {
    color: #FFF;
    text-align: center;
}

.hero-heading:nth-child(1) {
    margin-bottom: 10px;
}

.hero-heading:nth-child(2) {
    margin-bottom: 14px;
}

.btn-outline-light,
.btn-danger {
    margin-top: 54px;
    width: 236px;
    padding: 16px 0px;
    border-radius: 25px;
}

.btn-danger {
    margin-right: 67px;
}

.app {
    padding-top: 56px;
    padding-bottom: 79px;
}

.app-title {
    text-align: center;
}

.img-thumbnail {
    margin-top: 70px;
    border-radius: 45px;
}

.nav-link {
    color: #FA4A0C;
}

.nav {
    display: block;
    position: absolute;
    right: 200px;
    bottom: -260px;
}

.fs-5 {
    color: #737373;
}

.food {
    padding-top: 108px;
    padding-bottom: 184px;
}

.float-end {
    border-radius: 40px;
}

.h5 {
    color: #737373;
}

.order {
    padding-top: 400px;
    text-align: center;
}

.order-container {
    background-image: url(./imges/order-bg.jpg);
    background-repeat: no-repeat;
    padding-top: 150px;
    padding-bottom: 133px;
}

.order-text {
    color: #FFFFFF;
}

.footer {
    padding-top: 112px;
    padding-bottom: 58px;
}

.font-monospace {
    text-align: right;
}